nav {
    float: left;
  }
  nav ul li a {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(0,0,0,0.9);
    list-style-type: none;
    color: #ffd70f;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: right;
    text-transform: unset;
    word-spacing: 10px;
    letter-spacing: 10px;
    text-align-last: right;
    text-decoration: none;
  }
  
  nav ul li ul li {
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    list-style-type: none;
    color: #ffd70f;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-transform: unset;
    word-spacing: 10px;
    letter-spacing: 10px;
    text-decoration: none;
  }
  nav li>ul{
    display: none;
  }
  nav li:hover>ul{
    display: block;
    position: absolute;
  }
  li{
    display: inline-block;
    padding: 5px;
    margin: 0px;
  }
  a {
    padding: 5px;
    margin: 5px;
  
  }
  .miMenú {
    position: relative;
    left: 50px;
  }
  .navElement {
    padding: 20px;
  }
  #carouselExampleControls {
    padding: 3em;
    width: 90%;
    margin: 50px;
  }
  /* Primer Párrafo */
  p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    word-spacing: 5px;
    flex-direction: row;
    margin-bottom: 20px;
    padding-top: 200px; 
    margin: 3em;
  }
  body {
    background-color: black;
  }
  audio {
        width: 100%;
  }
  .DJ {
    width: 200px;
    height: 300px;
    border-radius: 3px;
    margin: 50px auto;
    transition: all 2s;
    justify-content: center;
    padding: 50%;
  }
  .DJ:hover {
    transform: scale(2);
  }
  .DJ2 {
    width: 200px;
    height: 300px;
    border-radius: 3px;
    margin: 50px auto;
    transition: all 2s;
    }
    
  .DJ2:hover {
      transform: scale(2);
    }
